/* CSS GENERAL */

body {
    font-family: 'Martel', serif;
    background-color: white;
    color: #252A3C;
    line-height: 180%;
    font-size: small;
    margin: 0;
}

h1 {font-size: 2em;}


.nav2 {
    list-style: none;
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
    overflow: hidden;
}
 
li.nav2 {
    float: left;
}
 
li a {
    color: #252A3C;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none; 
}
 
 li a:hover {
    background-color: #f4f4f4;
}
 
.nav2 input[type=text] {
    background-color: #f4f4f4;
    padding: 4px;
    border: none;
    float: right;
    border-radius: 10px;
}
 
::placeholder { 
    font-family: 'Martel', serif;
    font-size: small;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8D99AE;
    color: #f4f4f4;
    text-align: center;
    z-index: 1;
}



/* CSS GRID */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    ". h h h h h h h h h h h h h h h h h h h h h h ."
    ". m m m m m m m m m m m m m m m m m m m m m m ."
    "f f f f f f f f f f f f f f f f f f f f f f f .";
}

.header {
    background-color: white;
    grid-area: h;
    height: 80px;
    display: grid;
    align-items: center;
}

.main {
    background-color: white;
    grid-area: m; 
}

.footer-g {
    grid-area: f;
}



/* CSS GRID MEDIA QUERIES */

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: 80px auto 80px;
        grid-template-areas: 
            ". h h h h h h h h h h h h h h h h h h h h h h ."
            ". . m m m m m m m m m m m m m m m m m m m m . ."
            "f f f f f f f f f f f f f f f f f f f f f f f f";
    }
    
    .header {
        
        background-color: white;
        grid-area: h;
        height: 80px;
    }

    .main {
        background-color: white;
        grid-area: m;
    }

    .footer-g {
        grid-area: f;
        background-color: white;
    }
}



/* CSS HOME-PAGE */

.content-stack {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 20px);
    position: relative;
}

.content-stack1 {
    grid-column: 20;
    grid-row: 4;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.content-stack2 {
    grid-column: 14 / -1;
    grid-row: 7;
    border-radius: 8px;
}

.title-home {
   grid-column: 1 / 12;
   grid-row: 3;
   
}

.text-home {
    margin-top: 40px;
    font-size: small;
}



/* CSS ABOUT-PAGE */

.aboutIMG {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    float: right;
    margin: 20px 0px 20px 40px;
}

.meText { 
    margin-bottom: 32px;
}

.meText2 {  
    margin-right: 40px;
    margin-bottom: 32px
}

.nameAbout2 {
    margin-bottom: 32px;
}



/* CSS CONTACT-PAGE */

.name-contact {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

.name-contact-2 {
    text-align: center;
    margin-bottom: 32px;
}

.form {
    text-align: center;
    padding-top: 50px;
}

.my-form{
    display: block;
    text-align: center;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form input[type="text"], .my-form textarea {
    padding: 6px;
    width: 60%;
    font-family: 'Martel', serif;
    background-color: #f4f4f4;
    border: none;
}

input[type=submit],[type=reset]{
    font-family: 'Martel', serif;
}

.button {
    color: #252A3C;
    padding: 10px 15px;
    margin: auto 10px auto 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f4f4f4;
}

.button:active {
    color: whitesmoke;
}



/* CSS BLOG-PAGE */

.name-blog {
    line-height: 120%;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

.name-blog-2 {
    text-align: center;
    margin-bottom: 32px;
}

.blogpost1, .blogpost2 { 
    width: 80%; 
    margin-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flex_container {
    display: grid;
    justify-content: space-around;  
}

.blogpost1 {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.blogpost2 {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}



/* MEDIA QUERIES */

@media (max-width: 1024px) {
    
    body {
        font-size: large;
    }

    ::placeholder { 
        font-family: 'Martel', serif;
        font-size: large;
    }

    .nav2 input[type=text] {
        display: none;
    }
    
    .aboutIMG {
        width: 40%;
        margin: 10px auto 32px 48px;
    }

    .my-form input[type="text"], .my-form textarea {
        padding: 6px;
        width: 75%;
        font-family: 'Martel', serif;
        background-color: #f4f4f4;
        border: none;
    }

    .nav2 {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding-top: 0px;
        padding-left: 0px;
        overflow: hidden; 
    }
     
     
    li a {
        color: #252A3C;
        text-align: center;
        padding-right: 16px;
        padding-left: 16px;
        text-decoration: none;     
    }
     
    li a:hover {
        background-color: #f4f4f4;
    }
     
    .nav2 input[type=text] {
        background-color: #f4f4f4;
        padding: 4px;
        margin-top: 1px;
        border: none;
        float: right;
        margin-right: 40px;
    }

    .content-stack {
        display: inline;
        
    }

    .text-home {
        font-size: large;
    }

    .content-stack1 {
        max-width: 100%;
        border-radius: 8px; 
    }
    
    .content-stack2 {
        display: none;
        
    }
}


@media (min-width: 1024px) {

    .blogpost1, .blogpost2 { 
        display: block;
        justify-content: space-between ;
        max-width: 35%; 
        margin-top: 50px;
        text-align: center;
    }
   
   .flex_container {
        display: flex;
        justify-content: space-around; 
    }

   .nameAbout {
        margin-top: 64px;
        margin-bottom: 32px;
        line-height: 120%;;
    }
}







 

